.inputForm {
    margin: 0.5rem 0;
    max-width: 90%;
}
.inputForm  label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 21px;
}

.inputForm input {
    width: 100%;
    line-height: 1.5rem;
    padding: 2px 0px 0 13px;
    border: 1px solid #ccc;
}
.inputForm input:focus{
    outline: none!important;
    background: #fad0ec;
    border-color: #8b005d;
}
.inputForm.invalid input {
    border-color: red;
    background-color: rgb(234, 148, 140);
}
.inputForm.invalid label {
    color: red;
}